<div class="package-item package-item--skeleton" aria-hidden="true">
    <div class="package-icon">
        <span class="pkg-icon-img skeleton-block skeleton-icon-block"></span>
    </div>
    <div class="package-info">
        <div class="package-header">
            <h3 class="package-title">
                <span class="skeleton-block skeleton-line-lg"></span>
            </h3>
            <span class="package-version skeleton-block skeleton-pill"></span>
            <span class="badge badge-prerelease skeleton-block skeleton-pill"></span>
            <span class="badge badge-type skeleton-block skeleton-pill"></span>
        </div>
        <p class="package-description">
            <span class="skeleton-block"></span>
        </p>
        <p class="package-description short">
            <span class="skeleton-block"></span>
        </p>
        <div class="package-meta-row">
            <span class="meta-chip skeleton-block skeleton-pill"></span>
            <span class="meta-chip skeleton-block skeleton-pill"></span>
            <span class="meta-chip skeleton-block skeleton-pill"></span>
        </div>
        <div class="package-tags">
            <span class="tag skeleton-block skeleton-pill"></span>
            <span class="tag skeleton-block skeleton-pill"></span>
            <span class="tag skeleton-block skeleton-pill"></span>
            <span class="tag-more skeleton-block skeleton-pill"></span>
        </div>
    </div>
</div>