@page "/Account/Login"
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
    <h1>Sign in</h1>
    <p>Configure <code>Host:Authentication:Providers</code> in appsettings.</p>
</body>
</html>
