@page "/npm/feed"
@using AvantiPoint.Packages.UI.Components.Npm
@model AvantiPoint.Packages.Host.Pages.Npm.FeedModel
@{
    ViewData["Title"] = "npm feed connection";
}

<h1>npm feed connection</h1>
@(await Html.RenderComponentAsync<NpmFeedInfo>(RenderMode.ServerPrerendered))

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}
